<a href="/admin/dashboard">&larr; Back to Admin Dashboard</a>

<div>
  <h2>Edit Post</h2>
</div>

<form action="/admin/edit-post/<%= searchPost._id %>?_method=PUT" method='POST'>

  <label for="title"><b>Title</b></label>
  <input type="text" name='title' placeholder='Post title' value='<%= searchPost.title %>'>

  <label for="body"><b>Body</b></label>
  <textarea name="body" cols="50" rows="10"><%= searchPost.body %></textarea>

  <input type="submit" value='Update Post' class='btn'>
  
</form>

